/* body{
  margin: 0;
}

header{
  background-color: #def7ff;
  padding: 8px 0;
}

.container{
  text-align: center;
  margin: 0 16px;
}

form{
  background-color: bisque;
  padding:200px 100px 40px;
  margin:0px 100px 0px 100px ;
}

.wrapper{
  margin: 0 auto;
  max-width: 1200px;
}

.mb-3{
  margin-bottom: 1rem!important;
}

.row{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
} */
header{
  background-color: #def7ff;
  padding: 8px 0;
  margin: 0px;
}
body{
	margin:0;
}


form{
	margin-top:10px;
	margin-bottom:10px;
}

.logout{
	text-align: right;
}